* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Cuprum', sans-serif;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


img {
    border: 2px solid rgb(0, 169, 216);
    border-radius: 50%;
    box-shadow: 0px 0px, 0px 0px 50px rgb(81, 0, 173);
    animation-name: colorChange;
    animation-duration: 45s;

    @keyframes colorChange{
    12.5%{border:rgb(230, 0, 46) ;}
    25%{border:rgb(230, 107, 0) ;}
    37.5%{border:rgb(234, 234, 0) ;}
    50%{border:rgb(37, 224, 0) ;}
    62.5%{border:rgb(0, 0, 0) ;}
    75%{border:rgb(4, 0, 227) ;}
    87.5%{border:rgb(112, 0, 217) ;}
    100%{border:rgb(228, 0, 0) ;}
}
}
body {
    background-color: rgba(0, 0, 0, 0.699);
    margin: 0px;



}

main {
    margin-left: 20px;
    margin-right: 20px;
}

#header{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /*animation-name: colorChange;
    animation-duration: 45s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;*/
    display: flex;
    justify-content: space-evenly;
    text-shadow: 0px 0px 3px rgb(39, 75, 255);
    background-color: rgb(17, 17, 17);
    height: 50px;
    align-items: center;
}
/*@keyframes colorChange{
    12.5%{background-color:rgb(72, 0, 14) ;}
    25%{background-color:rgb(230, 0, 0) ;}
    37.5%{background-color:rgb(234, 113, 0) ;}
    50%{background-color:rgb(190, 224, 0) ;}
    62.5%{background-color:rgb(45, 226, 0) ;}
    75%{background-color:rgb(0, 19, 227) ;}
    87.5%{background-color:rgb(148, 0, 217) ;}
    100%{background-color:rgb(228, 0, 0) ;}
}*/

#hname {color: rgb(0, 0, 0);
    text-align: center;
    /*animation-name: colorChange;
    animation-duration: 45s;*/
    border-radius: 60%;
    text-shadow: 0px 0px 5px rgb(255, 0, 0);
    background-color:rgb(0, 0, 0);
    height: 35px;
    text-align: center;
}

@keyframes colorChange{
    12.5%{background-color:rgb(72, 0, 14) ;}
    25%{background-color:rgb(230, 0, 0) ;}
    37.5%{background-color:rgb(234, 113, 0) ;}
    50%{background-color:rgb(190, 224, 0) ;}
    62.5%{background-color:rgb(45, 226, 0) ;}
    75%{background-color:rgb(0, 19, 227) ;}
    87.5%{background-color:rgb(148, 0, 217) ;}
    100%{background-color:rgb(228, 0, 0) ;}
}

#bio {
    color: rgb(0, 0, 0);
    text-align: center;
    /*animation-name: colorChange;
    animation-duration: 45s;*/
    border-radius: 60%;
    text-shadow: 0px 0px 3px rgb(255, 39, 39);
    background-color: rgb(0, 0, 0);

/*@keyframes colorChange{
    12.5%{background-color:rgb(230, 0, 46) ;}
    25%{background-color:rgb(230, 107, 0) ;}
    37.5%{background-color:rgb(234, 234, 0) ;}
    50%{background-color:rgb(37, 224, 0) ;}
    62.5%{background-color:rgb(0, 0, 0) ;}
    75%{background-color:rgb(4, 0, 227) ;}
    87.5%{background-color:rgb(112, 0, 217) ;}
    100%{background-color:rgb(228, 0, 0) ;}
}*/
}

#contact{
    color: rgb(0, 163, 163);
    box-shadow: darkorange;
    text-align: center;

}
#contact div01{
    text-align: center;

}
.navbar ul{
    list-style-type: none;
    background-color: rgb(77, 0, 128);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}

.navbar a{
    color: burlywood;
    text-decoration: none;
    padding: 18px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(161, 235, 0);
    color: black;
    animation-name: colorChange;
    animation-duration: 45s;

@keyframes colorChange{
    12.5%{background-color:rgb(230, 0, 46) ;}
    25%{background-color:rgb(230, 107, 0) ;}
    37.5%{background-color:rgb(234, 234, 0) ;}
    50%{background-color:rgb(37, 224, 0) ;}
    62.5%{background-color:rgb(0, 0, 0) ;}
    75%{background-color:rgb(4, 0, 227) ;}
    87.5%{background-color:rgb(112, 0, 217) ;}
    100%{background-color:rgb(228, 0, 0) ;}
}}
.verpos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}
#linke {
    color: rgb(0, 163, 163);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verpos button{
    border-radius: 25%;
    width: 100px;
    height: 70px;
    color: rgb(153, 0, 255);
    background-color: rgb(115, 0, 0);
}

.verpos button:hover{
    background-color: rgb(161, 235, 0);
    color: black;
    animation-name: colorChange;
    animation-duration: 45s;

@keyframes colorChange{
    12.5%{background-color:rgb(230, 0, 46) ;}
    25%{background-color:rgb(230, 107, 0) ;}
    37.5%{background-color:rgb(234, 234, 0) ;}
    50%{background-color:rgb(37, 224, 0) ;}
    62.5%{background-color:rgb(0, 0, 0) ;}
    75%{background-color:rgb(4, 0, 227) ;}
    87.5%{background-color:rgb(112, 0, 217) ;}
    100%{background-color:rgb(228, 0, 0) ;}
}}
